<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhei.cms.dao.basic.StudentListViewDAO">

	<resultMap id="StudentListViewMap" type="com.wuhei.cms.model.joint.StudentListView">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="stuclass" property="stuclass" jdbcType="VARCHAR" />
		<result column="majorid" property="majorId" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="gdate" property="gdate" jdbcType="DATE" />
		<result column="level" property="level" jdbcType="VARCHAR" />
	</resultMap>

	<select id="countStudentByCondition" resultType="Integer">
		select count(id)
		from student where 1=1
		<!-- 用mybatis查询时，只是传入一个字符串传参数，且进行判断时，会报 -->
		<!-- 此处要把参数由keyword改成"_parameter" -->
		<!-- 传入多个参数时候无此问题 -->
		<if test="majorid != null">
			and majorid = #{majorid}
		</if>
		<if test="grade != null">
			and grade = #{grade}
		</if>
		<if test="stuclass != null">
			and stuclass = #{stuclass}
		</if>
		<if test="keyword != null">
			and name like CONCAT('%',#{keyword},'%')
			or code like
			CONCAT('%',#{keyword},'%')
		</if>
	</select>


	<select id="listStudentByCondition" resultMap="StudentListViewMap">
		select *
		from student
		where 1=1
		<if test="majorid != null">
			and majorid = #{majorid}
		</if>
		<if test="grade != null">
			and grade = #{grade}
		</if>
		<if test="stuclass != null">
			and stuclass = #{stuclass}
		</if>
		<if test="keyword != null">
			and name like CONCAT('%',#{keyword},'%')
			or code like
			CONCAT('%',#{keyword},'%')
		</if>
		<if test="count != null">
			limit #{start},#{count}
		</if>
	</select>

</mapper>